@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
*{
    margin:0 0;
    padding: 0 0;
}
div{margin:0 auto;width:75%;background-color: rgb(253 252 250);padding:30px 30px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.15);}

br{content:""; margin-bottom: 50px; display:block;}

h1{font-family: 'Rubik', sans-serif;
    background-color: #fff;
    line-height: 56px;
    display: inline-block;
    padding: 0 20px;
    margin-bottom:30px;}

span{font-size:40px;
    padding: 10px 20px;
    color: #333;
    background: rgb(255 255 255);
    display: block;}

code{background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;}

a{text-decoration: none;
  font-size:30px;
  background-color:#FF5722;
  padding: 10px 20px;
  margin: 16px;
  color: #fff;}